#header  {
    background-color:#47d8c0;
    color: white;
    border-radius: 0px;
    padding: 90px;
    background-image: url(image.png);   

    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 6%;

    height: 40px;
    padding: 70px; 
    margin: 1px;
}
#footer {
    background:black;
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 10px;
}
#logo {
    float: right;
}
